# Project specific
logs/
out/
regression_testing/
*.lp
python-scripts/exhaustive_runs.txt

# Intellij
.idea/
*.iml

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

