# Project folders
!*/.gitkeep


# Project specific
bangforbuck/
dominance/
logs/
out/
regression_testing/
*.lp
python-scripts/exhaustive_runs.txt
*.pyc
*.DS_Store 

# Intellij
.idea/
*.iml

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore pycache
final-results/__pycache__/
