<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
<!--
            <PatternLayout pattern="[%t] %-5level %logger{36} - %msg%n"/>
-->
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} | %msg%n"/>
        </Console>
        <!--
        <File name="Log" fileName="logs/console.log" immediateFlush="false" append="false">
            <PatternLayout pattern="[%t] %-5level %logger{36} | %msg%n"/>
        </File>
        -->
        <!--
        <File name="TimedLog" fileName="logs/console_timed.log" immediateFlush="false" append="false">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} | %msg%n"/>
        </File>
        -->
    </Appenders>
    <Loggers>
        <Root level="ERROR">
            <AppenderRef ref="Console"/>
            <!-- <AppenderRef ref="Log"/> -->
            <!--<AppenderRef ref="TimedLog"/>-->
        </Root>
    </Loggers>
</Configuration>

